<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925095354689-9u70vk62kuo8cspndtr0ju7lr8aiffpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925095354689-9u70vk62kuo8cspndtr0ju7lr8aiffpt</string>
	<key>API_KEY</key>
	<string>AIzaSyAfLu82rpKr81GH4uTzjkxYqCPVAgPputc</string>
	<key>GCM_SENDER_ID</key>
	<string>925095354689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstApp</string>
	<key>PROJECT_ID</key>
	<string>health-monitoring-afb77</string>
	<key>STORAGE_BUCKET</key>
	<string>health-monitoring-afb77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925095354689:ios:0f161e71385bec45e681c0</string>
	<key>DATABASE_URL</key>
	<string>https://health-monitoring-afb77-default-rtdb.firebaseio.com</string>
</dict>
</plist>